.eliminar {
    background-color: #F5F5DC; /* Color de fondo del formulario */
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    margin-top: 25px;
    transition: all 0.3s ease-in-out;
}

.eliminar h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: #4E3A2B; /* Color oscuro para el texto */
    font-family: 'Georgia', serif;
}

.campo {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.campo label {
    color: #333333; /* Gris oscuro para los labels */
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.input-text {
    width: 100%;
    border: 2px solid #9E8C6F; /* Borde del campo de entrada */
    padding: 1rem;
    border-radius: .5rem;
    box-sizing: border-box;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-text:focus {
    border-color: #8c7b5e; /* Color de borde al enfocar */
    box-shadow: 0 0 8px rgba(140, 123, 94, 0.5);
    outline: none;
}

.boton {
    background-color: #9E8C6F; /* Color del botón */
    color: #fff;
    padding: 1rem 2rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 1.2rem;
}

.boton:hover {
    background-color: #8c7b5e; /* Color más oscuro para el hover */
    transform: scale(1.05);
}

footer {
    margin-top: 2rem; /* Ajusta este valor según tus necesidades */
    padding: 2rem 0; /* Ajusta el padding según el diseño */
    background-color: #F5F5DC; /* Color de fondo */
    text-align: center;
    border-top: 1px solid #9E8C6F;
}

footer .sociales a {
    margin: 0 10px;
    color: #4E3A2B;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

footer .sociales a:hover {
    color: #9E8C6F;
}

@media (max-width: 768px) {
    .eliminar {
        padding: 2rem;
    }

    .eliminar h2 {
        font-size: 1.5rem;
    }

    #banner h2 {
        font-size: 2rem;
    }

    #banner h3 {
        font-size: 1rem;
    }
}
