footer .contendor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pie{
    font-size: 17px;
    text-align: center;
}
.sociales{
    text-align: center;
    width: 100%;
    font-size: 28px;
}

.sociales a{
    text-decoration: none;
    color: black;
}



footer {
    margin-top: 2rem; /* Ajusta este valor según tus necesidades */
    padding: 2rem 0; /* Ajusta el padding según el diseño */
    background-color: #F5F5DC; /* Color de fondo */
    text-align: center;
    border-top: 1px solid #9E8C6F;
}

footer .sociales a {
    margin: 0 10px;
    color: #4E3A2B;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}